@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cb1ee9');
  src:  url('fonts/icomoon.eot?cb1ee9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cb1ee9') format('truetype'),
    url('fonts/icomoon.woff?cb1ee9') format('woff'),
    url('fonts/icomoon.svg?cb1ee9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fluent--content-view-20-regular:before {
  content: "\e900";
}
.icon-streamline--checkup-medical-report-clipboard:before {
  content: "\e901";
}
.icon-arcticons--emoji-cat-face:before {
  content: "\e902";
}
.icon-streamline-cyber--dog-1:before {
  content: "\e903";
}
.icon-arcticons--emoji-horse-face:before {
  content: "\e904";
}
.icon-game-icons--turtle:before {
  content: "\e905";
}
.icon-lucide--bird:before {
  content: "\e906";
}
.icon-fluent-emoji-high-contrast--fish:before {
  content: "\e907";
}
.icon-ion--book-outline:before {
  content: "\e908";
}
.icon-streamline-plump--store-2:before {
  content: "\e909";
}
